
table, th, td, tr {
    border-collapse: collapse;
    padding: .8rem;
    text-align: left;
}

.resume ul, .resume li{
    margin: 0;
}
.resume-pic-container {
    width: 15rem; /* Adjust the width as needed */
    height: 15rem; /* Adjust the height as needed */
    padding: 0;
    overflow: hidden;
}

#resume-pic {
    width: 100%;
    height: 100%;
    object-fit: cover; /* You can use "cover", "contain", "fill", etc. depending on your needs */
}

.project-description {
    text-align: justify;
}

h1, h3 {
    margin: 0;
}

.main-line {
    padding: 0;
    border-bottom: .3rem solid;
}

.skill-list {
    vertical-align: top;
}