:root {
    --color-1: #0D0221;
    --color-2: #0F084B;
    --color-3: #26408B;
    --color-4: #A6CFD5;
    --color-5: #C2E7D9;
    --color-6: #F1EFEF;
  }


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow: auto;
}

/* SECTION */

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-3);
    color: var(--color-6);
    position: relative;
    margin-left: 10%;
    max-width: 90%;
    overflow-x: hidden;

}

section:nth-child(odd) {
    background-color: var(--color-5);
    color: var(--color-1);
}


#fixed-image {
    width: 40%;
    height: 100vh;
    position: fixed; /* Fixed position to stay in place */
    top: 0; /* Stick to the top of the viewport */
    left: 10%; /* Adjust left position */
    z-index: 0; /* Behind other content */
}

.home-right {
    position: absolute;
    width: 45.5%;
    margin-left: 39%;

}

/*https://codepen.io/denic/pen/GRoOxbM*/
#home-txt-1 {
    width: 7ch;
    animation: typing 1s steps(7), blink 0.5s step-end infinite alternate , resetBorder 0.01s 1s forwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-1);
    margin: 0;
}

#home-txt-2 {
    width: 12ch;
    animation: typing 1.5s steps(12), blink 0.5s step-end infinite alternate, fadeIn 0.5s forwards; /* Use "forwards" to keep the final state */
    animation-delay: 1.5s;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 7.5rem;
    font-weight: 400;
    color: var(--color-1);
    line-height: 1;
    visibility: hidden;
    opacity: 0;
    margin: 0;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes fadeIn {
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes resetBorder {
    to {
        border-right: none;
    }
}
#about-me-section {
    justify-content: space-evenly;
}
.about-me-txt {
    max-width: 50%;
    text-align: justify;
    font-size: large;
}

.about-me-txt p{
    margin: 0;
}

.about-me-txt b{
    color: var(--color-1);
}

.about-me-img {
    width: 19rem;
    height: 25rem;
    background-color: var(--color-6);
    border: 1rem solid var(--color-6); /* White border */
    border-bottom: 4rem solid var(--color-6);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
    overflow: hidden; /* Hide overflowing content */
}

.about-me-img img {
    width: 19rem;
    object-fit: cover; /* Maintain aspect ratio while covering */
}

.openModalBtn {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    color: var(--color-6);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-content {
    padding: 20px;
}

/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Styles for the close button */
.close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 30px;
    cursor: pointer;
}

/* Additional styles can be added as needed */
