:root {
    --color-1: #0D0221;
    --color-2: #0F084B;
    --color-3: #26408B;
    --color-4: #A6CFD5;
    --color-5: #C2E7D9;
    --color-6: #F1EFEF;
  }


body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* SECTION */

section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-3);
    color: var(--color-6);
    position: relative;
    margin-left: 10%;
    max-width: 90%;

}

section:nth-child(odd) {
    background-color: var(--color-5);
    color: var(--color-1);
}


#fixed-image {
    object-fit: cover;
    height: 100vh;
    position: fixed; /* Fixed position to stay in place */
    top: 0; /* Stick to the top of the viewport */
    left: 10%; /* Adjust left position */
    z-index: 0; /* Behind other content */
}

.home-right {
    position: absolute;
    width: 45.5%;
    margin-left: 20%;

}

/*https://codepen.io/denic/pen/GRoOxbM*/
#home-txt-1 {
    width: 7ch;
    animation: typing 1s steps(7), blink 0.5s step-end infinite alternate , resetBorder 0.01s 1s forwards;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 3rem;
    font-weight: 400;
    color: var(--color-1);
    margin: 0;
}

#home-txt-2 {
    width: 12ch;
    animation: typing 1.5s steps(12), blink 0.5s step-end infinite alternate, fadeIn 0.5s forwards; /* Use "forwards" to keep the final state */
    animation-delay: 1.5s;
    white-space: nowrap;
    overflow: hidden;
    border-right: 5px solid;
    font-family: monospace;
    font-size: 7.5rem;
    font-weight: 400;
    color: var(--color-1);
    line-height: 1;
    visibility: hidden;
    opacity: 0;
    margin: 0;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

@keyframes fadeIn {
    to {
        visibility: visible;
        opacity: 1;
    }
}

@keyframes resetBorder {
    to {
        border-right: none;
    }
}
#about-me-section {
    justify-content: space-evenly;
}
.about-me-txt {
    max-width: 50%;
    text-align: justify;
    font-size: large;
}

.about-me-txt p{
    margin: 0;
}

.about-me-txt b{
    font-size: 1.3rem;
}

.about-me-img {
    width: 19rem;
    height: 25rem;
    background-color: var(--color-6);
    border: 1rem solid var(--color-6); /* White border */
    border-bottom: 4rem solid var(--color-6);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Drop shadow */
    overflow: hidden; /* Hide overflowing content */
}

.about-me-img img {
    width: 19rem;
    object-fit: cover; /* Maintain aspect ratio while covering */
}

#openModalBtn {
    font-family: 'Poppins', sans-serif;
    font-size: large;
    color: var(--color-6);
    background-color: transparent;
    text-decoration: underline;
    border: none;
    cursor: pointer;
}
#openModalBtn:hover {
    font-size: 1.2rem;
    color: red;
}

/* Styles for the modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 55%;
    top: 52%;
    height: 90vh;
    width: 70rem;
    transform: translate(-50%, -50%);
    background-color: white;
    color: #0D0221;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-content {
    margin-top: 1rem;
    padding: 1rem;
    overflow-y: auto;
    height: 83vh;
}

/* Customize the scrollbar for webkit-based browsers */
.modal-content::-webkit-scrollbar {
    display: none;
}

/* Customize the scrollbar for webkit-based browsers */
body::-webkit-scrollbar {
    width: .5rem;
}

/* Track (the background) */
body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle (the draggable part) */
body::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

/* Styles for the close button */
.close {
    position: absolute;
    top: -1.05rem;
    right: -0.6rem;
    font-size: 30px;
    cursor: pointer;
}

.resume-download {
    position: absolute;
    top: 0.95rem;
    left: -3rem;
    cursor: pointer;
}
/* Additional styles can be added as needed */

table, th, td, tr {
    border-collapse: collapse;
    padding: .8rem;
    text-align: left;
}

.resume ul, .resume li{
    margin: 0;
}
.resume-pic-container {
    width: 15rem; /* Adjust the width as needed */
    height: 15rem; /* Adjust the height as needed */
    padding: 0;
    overflow: hidden;
}

#resume-pic {
    width: 100%;
    height: 100%;
    object-fit: cover; /* You can use "cover", "contain", "fill", etc. depending on your needs */
}

.project-description {
    text-align: justify;
}

h1, h3 {
    margin: 0;
}

.main-line {
    padding: 0;
    border-bottom: .3rem solid;
}

.skill-list {
    vertical-align: top;
}